<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liyang024.sys.dao.TUrlMapper">
  <resultMap id="BaseResultMap" type="top.liyang024.sys.domain.TUrl">
    <id column="c_id" jdbcType="VARCHAR" property="cId" />
    <result column="c_url" jdbcType="VARCHAR" property="cUrl" />
    <result column="c_parentid" jdbcType="VARCHAR" property="cParentid" />
    <result column="c_title" jdbcType="VARCHAR" property="cTitle" />
    <result column="c_name" jdbcType="VARCHAR" property="cName" />
    <result column="c_icon" jdbcType="VARCHAR" property="cIcon" />
    <result column="c_index" jdbcType="INTEGER" property="cIndex" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    c_id, c_url, c_parentid, c_title, c_name, c_icon, c_index
  </sql>
  <select id="selectByExample" parameterType="top.liyang024.sys.domain.TUrlExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_url
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_url
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_url
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.liyang024.sys.domain.TUrlExample">
    delete from t_url
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.liyang024.sys.domain.TUrl">
    insert into t_url (c_id, c_url, c_parentid, 
      c_title, c_name, c_icon, 
      c_index)
    values (#{cId,jdbcType=VARCHAR}, #{cUrl,jdbcType=VARCHAR}, #{cParentid,jdbcType=VARCHAR}, 
      #{cTitle,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR}, #{cIcon,jdbcType=VARCHAR}, 
      #{cIndex,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.liyang024.sys.domain.TUrl">
    insert into t_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        c_id,
      </if>
      <if test="cUrl != null">
        c_url,
      </if>
      <if test="cParentid != null">
        c_parentid,
      </if>
      <if test="cTitle != null">
        c_title,
      </if>
      <if test="cName != null">
        c_name,
      </if>
      <if test="cIcon != null">
        c_icon,
      </if>
      <if test="cIndex != null">
        c_index,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cId != null">
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cUrl != null">
        #{cUrl,jdbcType=VARCHAR},
      </if>
      <if test="cParentid != null">
        #{cParentid,jdbcType=VARCHAR},
      </if>
      <if test="cTitle != null">
        #{cTitle,jdbcType=VARCHAR},
      </if>
      <if test="cName != null">
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cIcon != null">
        #{cIcon,jdbcType=VARCHAR},
      </if>
      <if test="cIndex != null">
        #{cIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.liyang024.sys.domain.TUrlExample" resultType="java.lang.Long">
    select count(*) from t_url
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_url
    <set>
      <if test="record.cId != null">
        c_id = #{record.cId,jdbcType=VARCHAR},
      </if>
      <if test="record.cUrl != null">
        c_url = #{record.cUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.cParentid != null">
        c_parentid = #{record.cParentid,jdbcType=VARCHAR},
      </if>
      <if test="record.cTitle != null">
        c_title = #{record.cTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null">
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cIcon != null">
        c_icon = #{record.cIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.cIndex != null">
        c_index = #{record.cIndex,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_url
    set c_id = #{record.cId,jdbcType=VARCHAR},
      c_url = #{record.cUrl,jdbcType=VARCHAR},
      c_parentid = #{record.cParentid,jdbcType=VARCHAR},
      c_title = #{record.cTitle,jdbcType=VARCHAR},
      c_name = #{record.cName,jdbcType=VARCHAR},
      c_icon = #{record.cIcon,jdbcType=VARCHAR},
      c_index = #{record.cIndex,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.liyang024.sys.domain.TUrl">
    update t_url
    <set>
      <if test="cUrl != null">
        c_url = #{cUrl,jdbcType=VARCHAR},
      </if>
      <if test="cParentid != null">
        c_parentid = #{cParentid,jdbcType=VARCHAR},
      </if>
      <if test="cTitle != null">
        c_title = #{cTitle,jdbcType=VARCHAR},
      </if>
      <if test="cName != null">
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cIcon != null">
        c_icon = #{cIcon,jdbcType=VARCHAR},
      </if>
      <if test="cIndex != null">
        c_index = #{cIndex,jdbcType=INTEGER},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.liyang024.sys.domain.TUrl">
    update t_url
    set c_url = #{cUrl,jdbcType=VARCHAR},
      c_parentid = #{cParentid,jdbcType=VARCHAR},
      c_title = #{cTitle,jdbcType=VARCHAR},
      c_name = #{cName,jdbcType=VARCHAR},
      c_icon = #{cIcon,jdbcType=VARCHAR},
      c_index = #{cIndex,jdbcType=INTEGER}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>